page-checkout-confirm {
    //
    //
    //Header Start
    .checkout-head {
        background: color($colors, dinerPink);
    }
    .head-head-icon i {
        color: color($colors, dinerWhite);
        font-size: 25px;
        top: 2%;
        position: relative;
        top: 25%;
        left: 3%;
    }
    .head-head-icon {
        height: 44px;
    }
    .check-title p {
        color: color($colors, dinerWhite);
        text-align: center;
        font-size: 25px;
        margin: auto;
    }
    .check-ship-head {
        width: 32%;
        float: left; // text-align: right;
    }
    .check-pay-head {
        float: left;
        width: 36%; // text-align: center;
    }
    .check-confirm-head {
        float: left;
        width: 32%; // text-align: left;
    }
    .check-ship-head .check-inner {
        text-align: center;
        float: right;
    }
    .check-pay-head .check-inner {
        text-align: center;
    }
    .check-confirm-head .check-inner {
        text-align: center;
        float: left;
    }
    .check-names {
        width: 100%;
        height: 100%;
        float: left;
        margin-top: 5%;
    }
    .check-inner.active ion-icon {
        color: color($colors, dinerWhite);
    }
    .check-inner.active i {
        color: color($colors, dinerWhite);
    }
    .check-inner.active p {
        color: color($colors, dinerWhite);
    }
    .check-inner ion-icon {
        font-size: 40px;
        color: #f7b6b6;
    }
    .check-inner i {
        font-size: 40px;
        color: #f7b6b6;
    }
    .check-inner p {
        font-size: 15px;
        color: #f7b6b6;
    } //
    //
    //
    //Header End
    //
    //
    //
    .shipping-text {
        text-align: center;
        font-size: 32px;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 3%;
        float: left;
        width: 100%;
        margin: auto;
        padding: 5%;
        padding-bottom: 1%;
        color: color($colors, dinerPink);
    }
    .shipping-text-des {
        margin: auto;
        width: 80%;
        text-align: center;
        float: left;
        width: 100%;
        margin: auto;
        padding: 6%;
        color: color($colors, dinerGrey);
    } //
    //
    //Custom-btn
    //
    .custom-div-btn {
        width: 100%;
        float: left;
        margin-top: 14%;
    }
    .custom-btn {
        width: 45%;
        margin: auto;
        height: 44px;
        padding-top: 4%;
        padding-left: 3%;
        color: color($colors, dinerWhite);
        background: color($colors, dinerPink);
    }
    .custom-btn p {
        margin: auto;
        float: left;
    }
    .custom-btn ion-icon {
        float: left;
        margin-right: 4%;
    } //
    //
    //Custom-btn
    //
    //TYPE
    .type-items {
        float: left;
        width: 100%;
        margin-top: 5%;
    }
    .type-items .row-one ion-col {
        border: 1px solid color($colors, dinerGrey);
        border-radius: 160px;
        padding: 3vw;
        padding-top: 8vw;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: center;
        padding-bottom: 8vw;
        font-size: 2.5vw;
        margin: 6.5%;
    }
    .type-items ion-row ion-col img {
        margin-top: -10%;
        width: 62%;
    }
    .type-items ion-row {
        padding-right: 4%;
        padding-left: 4%;
    }
    .type-items ion-row .col1 {
        margin-right: 2%;
        margin-left: 11%;
    }
    .type-items ion-row .col2 {
        margin-left: 2%;
        margin-right: 11%
    }
    .type-items ion-row p {
        color: color($colors, dinerPink);
        position: absolute;
        top: 90%;
        font-size: 18px;
        left: 25%;
    } //
    //
    //TYPE
    //
    .chk-icon {
        color: lightgreen;
        font-size: 85px;
    }
    .chk-div {
        float: left;
        width: 100%;
        text-align: center;
    }
}