page-sign-up {
    .top-img {
        width: 100%;
        float: left;
    }
    .top-img img {
        width: 30%;
        float: right;
    }
    .head-txt {
        float: left;
        width: 100%;
        margin-top: 5%;
    }
    .head-txt p {
        margin: auto;
        text-align: center;
        color: color($colors, dinerPink)
    }
    .input-div {
        /* position: relative; */
        /* top: 10%; */
        float: left;
        width: 100%;
        margin-top: 8%;
    } //Placeholder ->
    .input-item-custom input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: color($colors, dinerGrey)
    }
    .input-item-custom input::-moz-placeholder {
        /* Firefox 19+ */
        color: color($colors, dinerGrey)
    }
    .input-item-custom input:-ms-input-placeholder {
        /* IE 10+ */
        color: color($colors, dinerGrey)
    }
    .input-item-custom input:-moz-placeholder {
        /* Firefox 18- */
        color: color($colors, dinerGrey)
    } //Placeholder <-
    .input-item-custom {
        margin: auto;
        padding: 0px;
        width: 90%;
        border-bottom: 1px solid color($colors, dinerGrey);
    }
    .input-item-custom input {
        text-align: center;
        color: color($colors, dinerGrey)
    }
    .input-item-custom .item-inner {
        border: none !important;
    }
    .input-item-custom.input-has-focus .item-inner {
        text-align: center;
        border-bottom-color: color($colors, dinerPink) !important;
        box-shadow: none !important;
    }
    .btn-item p {
        text-align: center;
        color: color($colors, dinerPink)
    }
    .middle-txt {
        float: left;
        width: 100%;
        margin-top: 8%;
    }
    .middle-txt p {
        margin: auto;
        text-align: center;
        color: color($colors, dinerGrey)
    }
    .create-btn {
        text-align: center;
        color: color($colors, dinerYellow); // position: relative;
        // top: 16%;
        float: left;
        width: 100%;
    }
    .bottom-div {
        width: 100%;
        float: left; // position: absolute;
        // bottom: 0;
    }
    .bottom-left {
        width: 50%;
        float: left;
        margin-top: 20%;
    }
    .bottom-right {
        width: 50%;
        float: right;
        text-align: center;
        font-size: 13px;
        margin-top: 25%;
    }
    .bottom-right p {
        margin: auto;
        color: color($colors, dinerGrey)
    }
    .logo-div {
        text-align: center;
        width: 100%;
        position: relative;
        float: left;
    }
    .logo-div img {
        width: 40%;
        text-align: center;
    }
    .error-div p {
        color: red;
        text-align: center;
    }
}