page-about-us {
    .toolbar-background {
        border-color: color($colors, dinerPink);
        background: color($colors, dinerPink);
    }
    ion-header ion-icon {
        color: color($colors, dinerWhite);
    }
    ion-header .toolbar .bar-button-menutoggle .button-inner {
        color: color($colors, dinerWhite);
    }
    ion-header .left-head-icon {
        background: transparent;
        float: right;
        box-shadow: none;
    }
    ion-header .left-head-icon.activated {
        background: transparent;
        box-shadow: none;
    }
    ion-header .left-head-icon ion-icon {
        font-size: 24px;
    }
    ion-header {
        text-align: center;
    }
    .logo-head {
        width: 50%;
        margin-top: 3%;
    } //
    //header end
    //
    //
    //scroller
    //
    .order-description {
        width: 90%;
        /* height: 36%; */
        /* background: #414141; */
        margin: auto;
        margin-top: 3%;
        border-radius: 10px;
        text-align: center;
        padding: 7px;
    }
    .order-description p {
        color: white;
        text-align: left;
        font-weight: 300;
        font-size: 13px;
    }
    .order-description ion-scroll img {
        width: 70px;
        height: 70px;
        margin-right: 15px;
        border-radius: 160px;
    }
    .order-description ion-scroll .scroll-content {
        // background: #414141;
    } //Other page
    .middle-right {
        width: 25%;
        float: right;
        margin-top: 10%;
    }
    .middle-txt {
        float: left;
        width: 60%;
        margin-top: 20%;
        margin-left: 15%;
    }
    .middle-txt p {
        margin: auto;
        width: 80%;
        float: left;
        color: color($colors, dinerGrey);
    }
    .middle-txt h3 {
        margin: auto;
        width: 90%;
        float: left;
        color: color($colors, dinerPink);
    }
    .scroller-cutom-div {
        width: 100%;
        float: left;
        height: 100px;
        margin-top: 5%;
    }
    .check-item-custom {
        float: left;
        width: 100%;
        padding-left: 12%;
        margin-top: 5%;
    }
    .check-item-custom .check-li {
        width: 100%;
        float: left;
        margin-top: 1%;
    }
    .check-item-custom i {
        float: left;
        margin-right: 2%;
        color: #8cca00;
    }
    .check-item-custom .check-li p {
        margin: auto;
        width: 80%;
        float: left;
        color: color($colors, dinerGrey);
    }
    .bottom-img-div img {
        width: 45%;
        float: right;
        margin-right: 10%;
        margin-top: 24%;
    }
    .left-icon {
        width: 10%;
        height: 100%;
        float: left;
    }
    .scroll-div {
        width: 80%;
        height: 100%;
        float: left;
    }
    .right-icon {
        width: 10%;
        height: 100%;
        float: left;
    }
    .scroll-item {
        width: 20%;
        float: left;
    }
    .custScroller {
        color: rgba(204, 204, 204, 0.4) !important;
        font-size: 1em;
        width: 100%;
        margin-top: 0.99em;
        height: 8.5em !important;
    }
    .wide-as-needed {
        overflow: scroll;
        white-space: nowrap;
        height: 100%;
        width: 80%;
        float: left;
    }
    .scroller-cutom-div .scroll {
        min-width: 100%;
        overflow-x: auto;
    }
}