 page-restaurant-menu {
     .res-img {
         width: 100%;
         height: 65vw;
     }
     .header-div {
         width: 100%;
         height: 65vw;
         position: absolute;
         top: 0;
         background: rgba(0, 0, 0, 0.7);
         color: #fff;
     }
     .icon-info {
         float: right;
         margin: 2%;
         font-size: 25px;
     }
     .icon-arrow-left {
         float: left;
         margin: 2%;
         font-size: 25px;
         margin: 3;
     }
     .header-top {
         width: 100%;
         float: left;
     }
     .top-banner {
         background: color($colors, dinerPink);
         width: 20vw;
         text-align: center;
         float: left;
         margin: auto;
         margin-left: 30%;
         border-bottom-left-radius: 150px;
         border-bottom-right-radius: 150px;
         /* padding: 0%; */
         font-size: 4vw;
         /* padding-top: 2%; */
         font-weight: 700;
     }
     .res-details {
         float: left;
         width: 100%;
         text-align: center;
         margin-top: 2vw;
     }
     .res-details p,
     .res-details h3 {
         margin: auto;
     }
     .res-details h3 {
         font-size: 6vw;
     }
     .res-details p {
         font-size: 4vw;
     }
     .rating-stars ion-icon {
         font-size: 20px !important;
     }
     .rating-stars button {
         width: 20px !important;
     }
     .icon-heart {
         float: right;
         font-size: 7vw;
         margin-right: 2vw;
         margin-top: 13vw;
     }
     .rating-num {
         //  margin-top: -3% !important;
         //  margin-bottom: 2% !important;
         //  font-size: 10px;
         margin-top: -3vw !important;
         margin-bottom: 0vw !important;
     }
     .del-time {
         float: left;
         border-radius: 150px;
         padding: 1vw;
         text-align: center;
         margin-left: 39vw;
         /* margin-top: 10vw; */
         padding-left: 4vw;
         padding-right: 4vw;
         position: absolute;
         bottom: 2px;
         background: color($colors, dinerPink);
     }
     .del-time .del-txt {
         margin: auto;
         font-size: 10px;
     }
     .del-time .del-min {
         margin: auto;
         font-size: 12px;
     } //
     //
     //scroller
     //
     .scoll-div-custom {
         width: 100%;
         /* height: 36%; */
         /* background: #414141; */
         margin: auto;
         margin-top: 3%;
         border-radius: 10px;
         text-align: center;
         padding: 7px;
         float: left;
         margin: auto;
         border-bottom: 1px solid rgba(0, 0, 0, 0.08);
     }
     .scol-heading {
         color: white;
         text-align: center;
         font-weight: 300;
         font-size: 13px;
     }
     .scoll-div-custom ion-scroll img {
         width: 30px;
         height: 30px;
         margin-right: 9px;
         border-radius: 160px;
     }
     .scoll-div-custom ion-scroll .scroll-content {
         // background: #414141;
     }
     .scroll-parent {
         background: #fff;
         border-radius: 150px;
         width: 90%;
         margin: auto;
     }
     .scroll-parent ion-row {
         margin-top: 3%;
     }
     .right-ic {
         float: right;
         margin-top: -9%;
         margin-right: -5%;
         font-size: 11px;
         color: color($colors, dinerPink);
     }
     .left-ic {
         float: left;
         margin-top: 4%;
         margin-left: -4%;
         font-size: 11px;
         color: color($colors, dinerPink);
     }
     .inner-scroll {
         text-align: left;
         text-align: center;
         margin-right: 12%;
     }
     .cat-title {
         width: 200%;
         margin: auto;
         font-size: 12px;
         vertical-align: middle;
     }
     .cat-selected {
         color: color($colors, dinerPink);
     } //
     //
     //
     // Scroll end
     //
     //
     .menu-item-title {
         font-size: 15px;
         color: color($colors, dinerPink);
         width: 60%;
         float: left;
     }
     .menu-item-count {
         text-align: right;
         width: 40%;
         float: right;
         color: color($colors, dinerPink);
     }
     .menu-item-description {
         font-size: 11px;
         color: #000;
         width: 60%;
         float: left;
     }
     .menu-item-price {
         text-align: right;
         width: 40%;
         float: right;
         color: color($colors, dinerGrey);
     }
     .menu-item-title-img {
         font-size: 15px;
         color: color($colors, dinerPink);
         width: 50%;
         float: left;
     }
     .menu-item-count-img {
         text-align: right;
         width: 20%;
         float: right;
         color: color($colors, dinerPink);
     }
     .menu-item-description-img {
         font-size: 11px;
         color: #000;
         width: 50%;
         float: left;
     }
     .menu-item-price-img {
         text-align: right;
         width: 20%;
         float: right;
         color: color($colors, dinerGrey);
     }
     .text-menu-item {
         float: left;
         width: 70%;
         margin-top: 7%;
     }
     .menu-item-img {
         width: 25%;
         float: left;
         margin-right: 5%;
     }
     .fab-cart {
         position: sticky;
         bottom: 2%;
         float: right;
         margin-right: 2%;
     }
     .fab-cart .fab {
         background-color: color($colors, dinerPink);
     }
     .fab-cart .icon-bag {
         font-size: 26px;
     }
     .cart-badge {
         position: sticky;
         bottom: 8%;
         border-radius: 160px;
         right: 0;
         z-index: 99999999999999999;
         width: 24px;
         height: 25px;
         text-align: center;
         padding: 0;
         text-align: center;
         padding-top: 2%;
         font-weight: 700;
         font-size: 12px;
         float: right;
         margin: -20px;
         background-color: color($colors, dinerYellow);
     }
     .item-menu-list {
         margin-bottom: -10%;
     }
     .item-count-badge {
         color: color($colors, dinerYellow);
         background-color: color($colors, dinerPink);
     }
 }